{% extends "layout.html" %}

{% block head %}
    <title>Sign Up</title>
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="row container">
        <div class="col-1 abcd"></div>
        <div class="sidenav col-sm text-center abcd">
            <div class="login-main-text">
                <br><br><br><br><br>
                <h2>Sign Up Page</h2>
                <p>Register as a Dietician from here to access.</p>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="main col-sm">
            <div class="register-form">
                <form method='POST'>
                    <div class="form-group">
                        <label class="h6">Name</label>
                        <input type="text" name="name" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label class="h6"> Email Address</label>
                        <input type="email" name="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label class="h6">Qualification</label>
                        <input type="text" name="qualification" class="form-control" placeholder="Qualification">
                    </div>
                    <div class="form-group">
                        <label class="h6">Phone Number</label>
                        <input type="Phone_number" name="phone" class="form-control" placeholder="Phone_number">
                    </div>
                    <div class="form-group">
                        <label class="h6">Experience (in years)</label>
                        <input type="number" class="form-control" name="experience" placeholder="Experience">
                    </div>
                    <div class="form-group">
                        <label class="h6">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label class="h6">Confirm Password</label>
                        <input type="password" class="form-control" name="password2" placeholder="Confirm Password">
                    </div>
                    <input class="button text-center btn" type="submit" name = "submit_button" value="Register">
                    <div class="row" style="height: 100px;"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}