{% extends "layout.html" %}
{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}

<form method = "POST" action = "">    
    <br><hr><br>
    
    <div class="container">
        <div class="text-center h3">Completed Orders</div>
        <table class="container table table-hover table-striped bg_dark">
            <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Order ID</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>

            {% for user in userDetails2 %}
            <tr>
              <td> {{user[0]}} </td>
              <td> {{user[1]}} </td>
              <td> {{user[2]}} </td>
              <td> {{user[3]}} </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

        
        <br>
    </div>

    <div class="container">
        <div class="text-center h3">Pending Orders</div>
        <table class="container table table-hover table-striped bg_dark">
            <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Order ID</th>
                <th scope="col">Address</th>
            </tr>
            </thead>
            <tbody>

            {% for user in userDetails1 %}
            <tr>
              <td> {{user[0]}} </td>
              <td> {{user[1]}} </td>
              <td> {{user[2]}} </td>
              <td> {{user[3]}} </td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <br>
        <h4 class="text-center">
            ID
            <input type="number" name="id" />
        </h4>
        
        <br><br>
        <input class="button-left btn text-center" type="submit" name = "submit_button" value="Back">
        <input class="button-right btn text-center" type="submit" name = "submit_button" value = "Deliver">
        <br>
        <br>
    </div>

    <br>
    
</form>
{% endblock %}
