{% extends "layout_LoggedIn.html" %}

{% block head %}
    <title>Dietician Profile</title>
{% endblock %}

{% block body %}
<form method = "POST" action = "">
<br>
<div class="text-center h3">Insert New Dish</div>
    <br><hr><br>
    <div class="container">
        <div class="text-center h3">All Dishes</div>
        <table class="container table table-hover table-striped bg_dark">
            <thead>
            <tr>
                <th>Dish_ID</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Category</th>
                <th>Calories</th>
                <th>Rating</th>
                <th>Fats</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Recipe</th>
            </tr>
            </thead>
            <tbody>
                {% for Dish in Dishdetails %}
                <tr>
                    <td>{{Dish[0]}}</td>
                    <td>{{Dish[1]}}</td>
                    <td>{{Dish[2]}}</td>
                    <td>{{Dish[3]}}</td>
                    <td>{{Dish[4]}}</td>
                    <td>{{Dish[5]}}</td>
                    <td>{{Dish[6]}}</td>
                    <td>{{Dish[7]}}</td>
                    <td>{{Dish[8]}}</td>
                    <td>{{Dish[9]}}</td>
                </tr>
                {% endfor %}
            </tbody>>
        </table>
        <br>

        <div class="row">
            <div class="col-sm">
                <h6>Name</h6> <input type="string" name="Name" />
            </div>
            <div class="col-sm">
                <h6>Cost</h6> <input type="string" name="Cost" />
            </div>
            <div class="col-sm">
                <h6>Category</h6> <input type="string" name="Category" />
            </div>
            <div class="col-sm">
                <h6>Calories</h6> <input type="string" name="Calories" />
            </div>
            <div class="col-sm">
                <h6>Rating</h6> <input type="string" name="Rating" />
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm">
                <h6>Fats</h6> <input type="string" name="Fats" />
            </div>
            <div class="col-sm">
                <h6>Carbs</h6> <input type="string" name="Carbs" />
            </div>
            <div class="col-sm">
                <h6>Protein</h6> <input type="string" name="Protein" />
            </div>
            <div class="col-sm">
                <h6>Recipe</h6> <input type="string" name="Recipe" />
            </div>
            <div class="col-sm">

            </div>
        </div>
        
        <br>
        <input type="submit" class="btn button-left" name = "submit_button" value="Back">
        <input type="submit" class="btn button-right" style="margin-left:75%" name = "submit_button" value="Insert New Dish !">
        <br><br>
        
    </div>
    <br><hr><br>
</form>>
{% endblock %}