{% extends "layout_LoggedIn.html" %}

{% block head %}
    <title>Dietician Profile</title>
{% endblock %}

{% block body %}
<form method = "POST" action = "">
<br>
<div class="text-center h3"></div>
    <br><hr><br>
    <div class="container">
        <div class="text-center h3">EDIT DISH</div>
        <table class="container table table-hover table-striped bg_dark">
            <thead>
            <tr>
                <th>Dish_ID</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Category</th>
                <th>Calories</th>
                <th>Rating</th>
                <th>Fats</th>
                <th>Carbs</th>
                <th>Protein</th>
                <th>Recipe</th>
            </tr>
            </thead>
            <tbody>
                {% for Dish in Dishdetails %}
                <tr>
                    <td>{{Dish[0]}}</td>
                    <td>{{Dish[1]}}</td>
                    <td>{{Dish[2]}}</td>
                    <td>{{Dish[3]}}</td>
                    <td>{{Dish[4]}}</td>
                    <td>{{Dish[5]}}</td>
                    <td>{{Dish[6]}}</td>
                    <td>{{Dish[7]}}</td>
                    <td>{{Dish[8]}}</td>
                    <td>{{Dish[9]}}</td>
                </tr>
                {% endfor %}
            </tbody>>
        </table>
        Type the name of Dish attribute<input type="string" name="attribute" />

        Updated Value : <input type="string" name="updated_attribute" />
        <br>
        <input type="submit" name = "submit_button" value="Update">
        <br>
        <a href = "/Dish" type="submit" class="btn btn-success">Back</a>
    </div>
    <br><hr><br>
</form>>
{% endblock %}