{% extends "layout.html" %}

{% block head %}
    <title>Log In</title>
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="row container">
        <div class="col-1 abcd"></div>
        <div class="sidenav col-sm text-center abcd">
            <div class="login-main-text">
                <br><br><br><br><br>
                <h2>Login Page</h2>
                <p>Login or register from here to access.</p>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="main col-sm">
            <div class="login-form">
                <form method='POST'>
                    <div class="input-box">
                        <span class="details h6">Who are you? </span>
                        <br>
                        <select id="inputType" name="type">
                            <option value="Select_Type">Click here! </option>
                            <option value="Customer">Customer</option>
                            <option value="Dietician">Dietician</option>
                            <option value="Manager">Manager</option>
                            <option value="DeliveryPerson">Delivery Person</option>
                            <option value="PR">Public Relations</option>
                        </select>
                        <br>
                        <br>
                    </div>
                    <div class="form-group">
                        <label class="h6">Email Address</label>
                        <input type="email" name="email" class="form-control" placeholder="Email Address">
                    </div>
                    <div class="form-group">
                        <label class="h6">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password">
                    </div>
                    <button type="submit" name = "submit_button" value="Login" class="btn btn-success">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}