{% extends "layout.html" %}

{% block head %}
    <title>Sign Up</title>
{% endblock %}

{% block body %}
    <br><br><br>
    <div class="row container">
        <div class="col-1 abcd"></div>
        <div class="sidenav col-sm text-center abcd">
            <div class="login-main-text">
                <br><br><br><br><br>
                <h2>Register</h2>
                <p>Login or register from here to access.</p>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="main col-sm">
            <div class="register-form">
                <form>
                    <div class="form-group text-green ">
                        <label class="h6">Who do you want to be?</label><br><br>
                        <ul>
                            <li>
                                <a href="{{url_for('auth.custumer_signup')}}">
                                <label for="Customer">Customer</label></a><br>
                            </li><li>
                                <a href="{{url_for('auth.manager_signup')}}">
                                <label for="Manager">Manager</label></a><br>
                            </li><li>
                                <a href="{{url_for('auth.deliveryperson_signup')}}">
                                <label for="Delivery">Delivery Person</label></a><br>
                            </li><li>
                                <a href="{{url_for('auth.chef_signup')}}">
                                <label for="Dietician">Chef/Dietician</label></a><br>
                            </li><li>
                                <a href="{{url_for('auth.publicity_signup')}}">
                                <label for="Marketing">Marketing Team</label></a>
                            </li>
                        </ul>
                        <br>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}