{% extends "layout_LoggedIn.html" %}

{% block head %}
    <title>Profile</title>
{% endblock %}

{% block body %}
<br>
    <div class="container bg_dark">
        <br>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2 h6"> Name</div>
            <div class="col-sm">: ABC</div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2 h6"> Adress</div>
            <div class="col-sm">: ABC</div>
        </div>
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2 h6"> Phone No.</div>
            <div class="col-sm">: ABC</div>
        </div>
        <br>
    </div>
    <br><hr><br>
    <div class="container">
        <div class="text-center h3">Past Orders</div>
        <table class="container table table-hover table-striped bg_dark">
            <thead>
            <tr>
                <th scope="col">Order ID</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td scope="row">1</th>
                <td>1/1/1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>1/1/1</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>1/1/1</td>
            </tr>
            </tbody>
        </table>


    </div>

    <div class="container">
        <div class="text-center h3">Dishes</div>
        <table class="container table table-hover table-striped bg_dark text-center">
            <thead>
                <tr>
                    <th scope="col">Dish_ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Cost(INR)</th>
                    <th scope="col">Category</th>
                    <th scope="col">Calories</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Fats</th>
                    <th scope="col">Carbs</th>
                    <th scope="col">Protein</th>
                </tr>
            </thead>
            <tbody>
                {% for User in userDetails %}
                <tr>
                    <th scope="col">{{User[0]}}</th>
                    <td scope="col">{{User[1]}}</th>
                    <td scope="col">{{User[2]}}</th>
                    <td scope="col">{{User[3]}}</th>
                    <td scope="col">{{User[4]}}</th>
                    <td scope="col">{{User[5]}}</th>
                    <td scope="col">{{User[6]}}</th>
                    <td scope="col">{{User[7]}}</th>
                    <td scope="col">{{User[8]}}</th>
                </tr>
                {% endfor%}
            </tbody>
        </table>
    </div>
{% endblock %}